In [76]:
import os
from google.cloud import bigquery
import pandas as pd

In [77]:
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "DemoBigQuery.json"

In [78]:
client = bigquery.Client()

In [79]:
def table_bigqery_to_dataframe(sql_query=""" """):
    # Jalankan query
    query_job = client.query(sql_query)
    print("Query job started...")
    print("Waiting for query to complete...")

    # Tunggu hingga query selesai
    results = query_job.result()
    print("Query completed successfully.")

    # Konversi hasil query ke DataFrame
    df = results.to_dataframe()

    # Tampilkan DataFrame
    # print(df.head(100))  # Menampilkan 10 baris pertama dari DataFrame
    return df

In [80]:
jawaban1 = table_bigqery_to_dataframe(sql_query=""" 
WITH
  agregasi AS (
  SELECT
    DISTINCT(user_id) AS id,
    CASE
      WHEN SUM(sale_price) < 50 THEN 'New Customer'
      WHEN SUM(sale_price) BETWEEN 50
    AND 200 THEN 'Regular Customer'
      WHEN SUM(sale_price) BETWEEN 200 AND 500 THEN 'Loyal Customer'
      WHEN SUM(sale_price) > 500 THEN 'VIP Customer'
  END
    AS Kategori_Customer,
    SUM(sale_price) AS Total_Order_Value
  FROM
    `bigquery-public-data.thelook_ecommerce.order_items`
  GROUP BY
    id)

SELECT
  Kategori_Customer,
  COUNT(id) AS Jumlah_Customer,
  AVG(Total_Order_Value) AS Rata2_Order_Value
FROM	
  agregasi
GROUP BY
  Kategori_Customer

""")
jawaban1

Query job started...
Waiting for query to complete...
Query completed successfully.

/home/mahaputra971/anaconda3/envs/project_digital_skola/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1965: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

  Kategori_Customer  Jumlah_Customer  Rata2_Order_Value
0    Loyal Customer            15032         300.375284
1  Regular Customer            38279         109.571722
2      New Customer            24473          28.830038
3      VIP Customer             2001         681.977741

In [81]:
jawaban2 = table_bigqery_to_dataframe(sql_query=""" 
SELECT
    product_id,
    SUM(sale_price) AS total_revenue,
    COUNT(*) AS total_quantity,
    AVG(sale_price) AS avg_sale_price,
    RANK() OVER (ORDER BY SUM(sale_price) DESC) AS revenue_rank
FROM
    bigquery-public-data.thelook_ecommerce.order_items
WHERE
    status = 'Complete'  -- hanya hitung yang berhasil terkirim
GROUP BY
    product_id
ORDER BY
    total_revenue DESC;

""")
jawaban2.head(100)

Query job started...
Waiting for query to complete...
Query completed successfully.

/home/mahaputra971/anaconda3/envs/project_digital_skola/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1965: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

    product_id  total_revenue  total_quantity  avg_sale_price  revenue_rank
0        24447    4995.000000               5      999.000000             1
1        24201    4515.000000               5      903.000000             2
2        24428    3612.000000               4      903.000000             3
3         2796    2709.000000               3      903.000000             4
4        24195    2574.000000               6      429.000000             5
..         ...            ...             ...             ...           ...
95       24208    1049.850037               3      349.950012            96
96       19640    1044.000000               3      348.000000            97
97       21483    1043.000031               5      208.600006            98
98       20884    1040.000000               4      260.000000            99
99       20830    1028.000000               4      257.000000           100

[100 rows x 5 columns]

In [84]:
jawaban3 = table_bigqery_to_dataframe(sql_query="""
WITH regional_data AS (
    -- Langkah 1: Gabungkan data pengguna, pesanan, dan item pesanan untuk negara US
    SELECT
        u.state,
        u.id AS user_id,
        o.order_id,
        oi.sale_price
    FROM
        `bigquery-public-data.thelook_ecommerce.users` AS u
    JOIN
        `bigquery-public-data.thelook_ecommerce.orders` AS o ON u.id = o.user_id
    JOIN
        `bigquery-public-data.thelook_ecommerce.order_items` AS oi ON o.order_id = oi.order_id
    WHERE
        u.country = 'United States'
        AND o.status IN ('Complete', 'Shipped') -- Menganalisis pesanan yang sudah selesai atau dikirim
),
state_performance AS (
    -- Langkah 2: Hitung metrik performa untuk setiap negara bagian (state)
    SELECT
        state,
        COUNT(DISTINCT user_id) AS total_customers,
        COUNT(DISTINCT order_id) AS total_orders,
        SUM(sale_price) AS total_revenue,
        SAFE_DIVIDE(SUM(sale_price), COUNT(DISTINCT order_id)) AS average_order_value
    FROM
        regional_data
    GROUP BY
        state
)
-- Langkah 3: Ranking negara bagian berdasarkan metrik yang telah dihitung
SELECT
    state,
    total_customers,
    total_orders,
    total_revenue,
    average_order_value,
    RANK() OVER (ORDER BY total_customers DESC) AS customer_rank,
    RANK() OVER (ORDER BY total_orders DESC) AS order_rank,
    RANK() OVER (ORDER BY total_revenue DESC) AS revenue_rank, 
    RANK() OVER (ORDER BY average_order_value DESC) AS aov_rank
FROM
    state_performance
ORDER BY
    customer_rank, order_rank, revenue_rank, aov_rank;

""")
jawaban3.head(100)

Query job started...
Waiting for query to complete...
Query completed successfully.

/home/mahaputra971/anaconda3/envs/project_digital_skola/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1965: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,state,total_customers,total_orders,total_revenue,average_order_value,customer_rank,order_rank,revenue_rank,aov_rank
0,California,1939,2531,217817.880210,86.060008,1,1,1,27
1,Texas,1339,1722,146127.410152,84.859123,2,2,2,30
2,Florida,899,1227,105070.090172,85.631695,3,3,3,28
3,New York,647,833,70648.000079,84.811525,4,4,4,31
4,Illinois,485,653,57804.980054,88.522175,5,5,5,21
5,Georgia,461,606,57458.929976,94.816716,6,6,6,7
6,Arizona,396,515,45081.750111,87.537379,7,7,7,24
7,North Carolina,384,491,41758.990101,85.048860,8,8,8,29
8,New Jersey,319,421,34844.540069,82.766128,9,9,10,35
9,Ohio,308,392,31819.970011,81.173393,10,12,14,40
10,Pennsylvania,303,400,36478.849995,91.197125,11,10,9,16
11,Virginia,296,393,34568.419988,87.960356,12,11,11,22
12,Michigan,279,372,32179.600060,86.504301,13,13,12,26
13,Washington,272,357,32020.020011,89.691933,14,14,13,18
14,Maryland,252,325,26820.570045,82.524831,15,15,16,36
15,Tennessee,243,305,28366.510086,93.004951,16,16,15,10
16,Indiana,221,263,24051.440037,91.450342,17,17,17,14
17,South Carolina,197,252,23229.760046,92.181587,18,19,18,11
18,Colorado,193,255,22801.170057,89.416353,19,18,19,19
19,Massachusetts,181,244,19738.580024,80.895820,20,20,21,41
20,Nevada,177,234,19750.179986,84.402479,21,21,20,34
21,Oregon,168,219,19179.429991,87.577306,22,22,22,23
22,Utah,162,199,16298.560014,81.902312,23,24,25,39
23,Minnesota,154,193,17655.010033,91.476736,24,26,24,13
24,Wisconsin,153,200,15559.420025,77.797100,25,23,26,45
25,Missouri,153,194,18083.080016,93.211753,25,25,23,9
26,Louisiana,110,141,11142.300005,79.023404,27,28,29,43
27,Kentucky,108,145,11313.880008,78.026759,28,27,28,44
28,Connecticut,98,130,12404.360002,95.418154,29,29,27,6
29,Oklahoma,93,125,10558.570014,84.468560,30,30,30,33
30,Arkansas,79,114,10469.480006,91.837544,31,31,31,12
31,Alabama,79,107,9619.749999,89.904206,31,32,32,17
32,New Mexico,72,86,8073.779990,93.881163,33,34,34,8
33,Kansas,66,84,7450.160041,88.692381,34,35,35,20
34,Idaho,65,94,9200.440007,97.877021,35,33,33,4
35,Iowa,58,74,6069.430017,82.019325,36,36,38,38
36,Hawaii,55,73,6331.580029,86.733973,37,37,37,25
37,Mississippi,51,70,6841.069990,97.729571,38,38,36,5
38,Nebraska,39,52,4404.260005,84.697308,39,39,39,32
39,Delaware,35,42,3341.430004,79.557857,40,40,41,42
40,District of Columbia,30,37,3671.279999,99.223784,41,42,40,3
41,Rhode Island,28,39,3213.640027,82.401026,42,41,42,37
42,Alaska,26,36,2384.740006,66.242778,43,43,44,49
43,North Dakota,25,30,3044.499990,101.483333,44,44,43,2
44,Montana,19,25,2283.420009,91.336800,45,45,45,15
45,New Hampshire,19,25,1919.000009,76.760000,45,45,46,47
46,Maine,15,17,1322.150005,77.773530,47,47,48,46
47,West Virginia,13,14,769.859998,54.990000,48,49,50,50
48,South Dakota,11,15,1623.610003,108.240667,49,48,47,1
49,Wyoming,9,11,820.060003,74.550909,50,50,49,48
50,Vermont,1,1,49.990002,49.990002,51,51,51,51

In [85]:
jawaban4 = table_bigqery_to_dataframe(sql_query="""
SELECT
    EXTRACT(YEAR FROM o.created_at) AS Tahun,
    EXTRACT(QUARTER FROM o.created_at) AS Quarter,
    ROUND(SUM(oi.sale_price), 2) AS Total_Revenue,
    COUNT(DISTINCT o.user_id) AS Total_Customer,
    COUNT(oi.product_id) AS Total_Product_Terjual,
    COUNT(DISTINCT o.order_id) AS Total_Order
FROM
    bigquery-public-data.thelook_ecommerce.orders AS o
JOIN
    bigquery-public-data.thelook_ecommerce.order_items AS oi
ON
    o.order_id = oi.order_id
WHERE
    o.status = 'Complete'
GROUP BY
    tahun, quarter
ORDER BY
    tahun, quarter;
""")
jawaban4.head(100)

Query job started...
Waiting for query to complete...
Query completed successfully.

/home/mahaputra971/anaconda3/envs/project_digital_skola/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1965: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,Tahun,Quarter,Total_Revenue,Total_Customer,Total_Product_Terjual,Total_Order
0,2019,1,1474.07,21,27,21
1,2019,2,5452.35,54,84,56
2,2019,3,9416.97,102,158,103
3,2019,4,14106.80,162,232,163
4,2020,1,19069.34,224,323,224
5,2020,2,21325.39,245,358,246
6,2020,3,29396.90,337,487,337
7,2020,4,31131.11,379,540,381
8,2021,1,36460.43,429,597,430
9,2021,2,41055.78,471,667,474
10,2021,3,44306.09,551,771,552
11,2021,4,56547.74,620,908,620
12,2022,1,61656.08,706,1026,707
13,2022,2,68358.44,779,1141,783
14,2022,3,77514.14,885,1288,888
15,2022,4,88025.14,984,1486,997
16,2023,1,91500.11,1067,1550,1076
17,2023,2,99864.76,1190,1731,1202
18,2023,3,123868.46,1399,2020,1407
19,2023,4,139576.14,1584,2289,1606
20,2024,1,157288.05,1756,2551,1777
21,2024,2,159800.89,1875,2679,1895
22,2024,3,186581.48,2103,3127,2129
23,2024,4,212766.13,2466,3632,2508
24,2025,1,245716.12,2784,4201,2833
25,2025,2,332958.42,3681,5587,3821
26,2025,3,335747.16,3564,5544,3816